.catgHead {
    background-color: #f9fafc;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 75px;
}
.catgName {
    font-size: 50px;
    color: #0f1628;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: 700;
    font-family: 'Edu VIC WA NT Beginner', cursive !important;
}
.catgTxt {
    color: #5a5a5a;
}

.catgBody {
    margin-bottom: 100px;
}
.productWrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.catgProduct {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 24vw;
    margin-bottom: 50px;
}
a {
    text-decoration: none !important;
}
.productImg {
    width: 220px;
    height: 330px;
    cursor: pointer;
    transition: 0.25s all ease;
    border-radius: 20px;
    background-color: #f7f7f7;
}
.productImg:hover {
    opacity: 0.5;
}
.productNaP {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    margin-top: 20px;
}
.productName {
    font-size: 14px;
    color: rgb(55, 65, 81);
    font-weight: 600;
}
.productPrice {
    font-size: 14px;
    font-weight: 500;
    color: #161616;
}